{{#each postagens}}
<div class="card">
    <div class="card-body">
        <h1> {{titulo}} </h1>
        <hr>
        <small>Data de publicação: {{data}}</small>
        <hr>
        <p> {{conteudo}} </p>
        <br>
        <a href="/postagens/{{slug}}"><button class="btn btn-success">Ler Mais</button></a>
    </div>
</div>
<br>

{{else}}
{{/each}}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
    
