{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/nova" method="post">

            <label for="titulo">Titulo:</label>
            <input type="text" class="form-control" name="titulo" id="titulo" required><br>

            <label for="slug">Slug:</label>
            <input type="text" class="form-control" name="slug" id="slug" required><br>

            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" name="descricao" id="descricao" required><br>

            <label for="conteudo">Conteudo:</label>
            <textarea name="conteudo" class="form-control" id="conteudo" cols="30" rows="3" required></textarea><br>

            <label for="categorias">Categoria:</label>
            
            <select class="custom-select" name="categorias" id="categorias" required>
                {{#each categorias}}
                <option id="section" name="section" value="{{_id}}">{{nome}}</option> Atraves daqui escolho qual vai ser a categoria, o 'value' sera o valor que o Select recebera
                {{else}}
                <option value="0">Nenhuma Categoria</option>
                {{/each}}
            </select><br><br>

            <button type="submit" class="btn btn-success">Adicionar Postagem</button>
        </form>
    </div>
</div>